
        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: gray;

        }

        header {
            text-align:center;
        }

        footer {
            text-align:center;
        }
        td {
            padding-left:10px;
        }
